*{
  max-width: 100%;
}
h1{
  font-size: 1.7em;
}
.page-user ul.nav-tabs{
  display: none;
}
.breadcrumb{
  display: none;
}
.help-block{
  clear: both;
}
.field{
  margin-bottom: 10px;
}
.view-connections .views-field-field-description{
  display: none;
}
.view-connections .view-content{
  width: 400px;
  overflow: hidden;
}
.connections-from-addition{
  width: 400px;
  float: left;
}
#edit-submit-connections{
  margin-top: 0px;
}
